:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

body {
  margin: 0;
}

button {
  font-family: inherit;
}
